body,
html,
.pageContent {
    font-family: 'Inter' !important;
    font-style: normal !important;
    color: #1c3041 !important;
    background-color: #c2d5e2 !important;
    background-image: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.center {
    text-align: center;
}

.just-content {
    justify-content: center;
}

#page-title {
    margin-top: 2em;

    background: #1c3041;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: #fcfaf9;
    border: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    height: 35px;
    width: 35px;
    color: #1c3041;
    margin: auto;
}

.error {
    color: #89043d;
    font-size: 16px;
    text-align: center;
    padding-bottom: 1em;
}

.success {
    color: #46a100;
    font-size: 16px;
    text-align: center;
    padding-bottom: 1em;
}

.view-only-input input {
    background-color: #eceff1 !important;
}

.fs-16 {
    font-size: 16px !important;
}

.primary-btn {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;

    background: #89043d !important;
    color: #ffffff !important;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.75em 4em;
    margin: 1em;
}

.secondary-btn {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;

    background: #1c3041 !important;
    color: #ffffff !important;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.75em 4em;
    margin: 1em;
}

.dimmer-margin {
    margin-top: 75px !important;
}

/* ========= Spacing ========= */
.pb-1 {
    padding-bottom: 1em;
}

.p-1-05 {
    padding: 0.5em 1em !important;
}

.p-0 {
    padding: 0em !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-1 {
    margin: 1em 0 !important;
}

.pb-3 {
    padding-bottom: 3em;
}

.mb-0 {
    margin-bottom: 0em !important;
}

.px-5px {
    padding: 0 5px !important;
}
