.resultForm {
    box-sizing: border-box;
    padding: 1em 1em;
    background: #fcfaf9;
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.freinds {
    width: fit-content;
}
