.title {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1em 1em 1em 4em;
}

.connection-form {
    box-sizing: border-box;

    padding: 3em 1em;

    background: #fcfaf9;
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#connection-button {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;

    background: #89043d !important;
    color: #ffffff !important;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.75em 4em;
    margin: 1em;
}
