.modal-close {
    width: 35px;
    height: auto;
    color: #89043d;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background: white;
    border-radius: 10px;
}

.modal-container {
    position: relative;
}

#custom-modal,
#custom-modal-content {
    margin: 0px !important;
    padding: 0px !important;
    width: fit-content;
}
