.btn:hover {
    opacity: 1;
}
.btn {
    opacity: 0.9;
}
.deja-vue-btn {
    background: #1c3041 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #f8f8f8 !important;
    display: flex !important;
    justify-content: space-between !important;
}

#btn-container {
    padding: 0px;
}

.deja-vue-btn-icon {
    height: auto;
    width: 24px;
    text-align: right;
    color: #f8f8f8;
}

.film-rating {
    display: flex;
    vertical-align: center;
    justify-content: center;
    align-items: center;
}

.film-rating-label {
    margin-bottom: 0px;
}
.a-voir-btn-cancel-icon {
    height: auto;
    width: 24px;
    text-align: center;
    color: #f8f8f8;
}

.a-voir-btn-cancel {
    background: #89043d !important;
}

.a-voir-btn-seen {
    background: #382540 !important;
    color: #f8f8f8 !important;
}

.max-full-card {
    max-width: 500px !important;
    margin: auto !important;
}
