.nav-container {
    height: 75px;
    background: #fcfaf9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo {
    height: 75px;
    width: auto;
}

.nav-icon {
    color: #1c3041 !important;
    width: 25px;
    height: auto;
    margin: auto;
}

.nav-icon-inverted {
    width: 25px;
    height: auto;
    margin: auto;
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    color: #1c3041;
    text-align: center;
    height: 75px;
}

.nav-item-profile {
    color: #fcfaf9 !important;
}

#connect-button-desktop {
    height: 50%;
    margin: auto 0;
}

#connect-button-mobile {
    margin-top: 2em;
    margin-bottom: 2em;
}

.nav-item-container-mobile {
    display: grid !important;
    text-align: center;
}
