.people-viewer-container {
    display: flex;
    flex-direction: row;
    overflow-x: 'scroll';
    white-space: nowrap;
}

.people-viewer-item {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    text-align: center;
}

.people-viewer-item-img {
    height: 35px !important;
    width: 35px !important;
    margin: auto;
}

.scrolling {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
