.sort-icon {
    height: 30px;
    width: auto;
}

.refresh-container,
.sort-container {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.filter-container {
    background-color: #c2d5e2 !important;
    border: 0px !important;
    box-shadow: none !important;
    margin-bottom: 2em !important;
}

.menu-item {
    background: #f8f8f8 !important;
    box-shadow: 0px;
    border-radius: 10px !important;
}
