.rounded-user-img {
    border-radius: 50px;
}

.menu-user-container {
    display: flex;
    flex-direction: column;
}

.edit-user-form,
.view-user-form {
    box-sizing: border-box;

    padding: 3em 1em;

    background: #fcfaf9;
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.modify-button {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;

    background: #89043d !important;
    color: #ffffff !important;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.75em 4em;
    margin: 1em;
}

.sync {
    border-radius: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.white-icon {
    color: #fcfaf9;
    width: 35px !important;
    height: 35px !important;
}

.delete-freinds {
    width: 35px;
    height: auto;
    color: #89043d;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background: white;
    border-radius: 10px;
}

.imgProfileInChat {
    height: 50px;
    width: 50px;
}
